---
import { Icon } from "astro-icon/components";

interface Props {
    href: string;
    icon: string;
    alt: string;
    name: string;
}

const { href, icon, alt, name } = Astro.props;
const ariaLabel = `${alt}: ${name} (opens in a new window)`;
---

<a href={href} target="_blank" class="ml-2 hover:opacity-70 my-auto tiny:ml-0 tiny:mr-2 tiny:py-2">
    <Icon name={icon} class="text-white w-9 h-9 tiny:w-7 tiny:h-7" />
    <span class="sr-only">{ariaLabel}</span>
</a>
